

<div class="row justify-content-center mt-3 mb-3">
  <div class="col-9">
    <div class="text-center">
      <img [src]="produto.imagem" width="30%">
    </div>

    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="produto.nome">
      </div>

      <div class="form-group">
        <label for="preco">Preço</label>
        <input type="number" class="form-control" id="preco" name="preco" [(ngModel)]="produto.valorCompra">
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" name="status" [(ngModel)]="produto.status">
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label> <br>
        <textarea class="form-control" name="descricao" cols="30" [(ngModel)]="produto.descricao"></textarea>
      </div>


      <div class="row">
        <div class="col-6">
          <button type="button" class="btn btn-secondary btn-block"
          [routerLink]="['/painel']">
            Cancelar
          </button>
        </div>
        <div class="col-6">
          <button type="button" (click)="atualizar()" class="btn btn-success btn-block">
            Salvar
          </button>
        </div>
      </div>


    </form>
  </div>
</div>
