<div class="text-center">
  <h3>Dados do cliente</h3>
</div>

<div class="justify-content-center">

  <form>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" [ngModel]="cliente.nome" readonly>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" [ngModel]="cliente.email" readonly>
    </div>

    <div class="form-group">
      <label for="rua">Rua</label>
      <input type="text" class="form-control" id="rua" name="rua" [ngModel]="cliente.rua" readonly>
    </div>

    <div class="form-group">
      <label for="bairro">Bairro</label>
      <input type="text" class="form-control" id="bairro" name="bairro" [ngModel]="cliente.bairro" readonly>
    </div>

    <div class="form-group">
      <label for="cidade">Cidade</label>
      <input type="text" class="form-control" id="cidade" name="cidade" [ngModel]="cliente.cidade" readonly>
    </div>

    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" class="form-control" id="estado" name="estado" [ngModel]="cliente.estado" readonly>
    </div>

    <div class="form-group">
      <label for="cep">CEP</label>
      <input type="text" class="form-control" id="cep" name="cep" [ngModel]="cliente.cep" readonly>
    </div>



    <button type="button" class="btn btn-warning btn-block" [routerLink]="['../',cliente.id,'update']">
      Editar
    </button>
  </form>

</div>
